.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);

    padding: 10px;
    margin-bottom: 15px;
}

.productInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image {
    height: 100px;
    width: 100px;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

.description {
    color: grey;
}

.counter {
    display: flex;
    gap: 20px;
    padding: 5px 15px;
    background: moccasin;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 40px;
}

.bottom p {
    margin: 0;
    user-select: none;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}